<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header> <div class="navbar"><img src="static/image/logo.png" alt="logo"><a href="/home" class="back" >BACK</a></div></header>
<body>
  <video autoplay muted loop id="myVideo">
    <source src="static/image/video1.mp4">
  </video>
    <div class="card">
        <h2>SIGN UP</h2>
        <input placeholder="email" type="text">
        <input placeholder="password" type="text">  
        <button class="signup">SIGN UP</button>
    </div>
</body>
</html>